.Input {
    box-sizing: border-box;
    border-radius: 5px;
    width: 190px;
    height: 25px;
    padding: 2px 2px;
    margin: 15px auto;
    box-shadow: darkslategrey;
    display: block;
    align-items: center;
    text-align: center;
}

/* .Select {

} */

.Button {
    display: block;
    margin: 10px auto;
    padding: 5px;
    background-color: firebrick;
    color: cornsilk;
}

.Button:active,
.Button:hover {
    color: darkgoldenrod;
}