.Layout {
    text-align: center;
    border: 2px;
    width: 500px;
    display: block;
    align-items: center;
}


.doctor {
    position: absolute;
    width: 80%;
    top: 60px;
    left: 10px;
}


.p {

   
    width: 30vw;
    font-size: 2.5vw;
    text-align: center;
    position: absolute;
    left: 60vw;
    top: 7vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}



.Input {
    box-sizing: border-box;
    box-shadow: 2px;
    outline: coral;
    width: 100px;
    padding: 5px;
    display: block;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    color: rgb(129, 9, 9);
    border-color: rgb(49, 87, 11);
    width: 350px;
    text-size-adjust: inherit;
}

.Button {
    width: 100px;
    height: 35px;
    display: block;
    border: 2px;
    color: darkred;
    align-items: center;
    text-align: center;
    margin: 15px auto;
    border-radius: 5px;
    background-color: darkturquoise;
    cursor: pointer;
}

.Button:hover,
.Button:active {
    background-color: forestgreen;
    outline: 2px;
    color: chocolate;
}

